body {
	margin: 0 auto;
}

.postcard {
	display: flex;
	flex-direction: column;
	border: 2px black solid;
	border-radius: 5px;
	margin: 33% auto;
	max-width: 500px;
  padding: 20px;
}

.banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cardmain {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.button {
	margin: 0 auto;
	margin-bottom: 5px;
}
.input {
	display: flex;
	flex-direction: column;
}

.para {
	padding-right: 2em;
}